@import url('./filter.css');
@import url('./container.css');
@import url('./modal.css');
@import url('./popup.css');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}


